apiVersion: config.k8ssandra.io/v1beta1
kind: ImageConfig
metadata:
  name: image-config
images:
  system-logger: "k8ssandra/system-logger:latest"
  config-builder: "datastax/cass-config-builder:1.0-ubi8"
  k8ssandra-client: "k8ssandra/k8ssandra-client:v0.6.4"
  # cassandra:
  #   "4.0.0": "k8ssandra/cassandra-ubi:latest"
  # dse:
  #   "6.8.999": "datastax/dse-server-prototype:latest"
# imageRegistry: "localhost:5000"
# imageNamespace: "internal"
# imagePullPolicy: Always
# imagePullSecret:
#   name: my-secret-pull-registry
defaults:
  # Note, postfix is ignored if repository is not set
  cassandra:
    repository: "ghcr.io/k8ssandra/cass-management-api"
    suffix: "-ubi"
  dse:
    repository: "datastax/dse-mgmtapi-6_8"
    suffix: "-ubi8"
  hcd:
    repository: "datastax/hcd"
    suffix: "-ubi"
